$bg-color: #333;
$icon-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0, 0, 0, 0.7);

body {
  background: $bg-color;
  color: $icon-color;
}

.navbar {
  box-shadow: 2px 2px 5px $primary-color;
  opacity: 0.8;
}

#home-section {
  background: url("../img/home.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 250px;
  }
}
